.p-paginator-dots {
  display: inline-flex;
  padding: 0.7rem 0.6rem;
  margin: 0.143rem;
  color: #6c757d;
  cursor: default;
  user-select: none;
}

.p-paginator-page,
.p-paginator-next,
.p-paginator-last,
.p-paginator-first,
.p-paginator-prev,
.p-paginator-current {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  line-height: 1;
  user-select: none;
}

.p-paginator {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
