.p-badge.p-badge-sm {
  min-width: 1.2rem;
  height: 1.2rem;
  font-size: .6rem;
  line-height: 1.2rem;
}

.p-badge-dot {
  width: .5rem;
  min-width: .5rem;
  height: .5rem;
  padding: 0;
  border-radius: 50%;
}
