{
  "extends": [
    "stylelint-config-umbrellio",
    "stylelint-config-recess-order"
  ],
  "customSyntax": "postcss-scss",
  "rules": {
    "at-rule-empty-line-before": null,
    "selector-nested-pattern": "^.",
    "declaration-colon-space-after": "always-single-line",
    "value-list-comma-space-after": "always-single-line",
    "selector-type-no-unknown": null,
    "selector-type-case": null,
    "at-rule-no-unknown": null,
    "string-quotes": "double",
    "declaration-block-no-redundant-longhand-properties": [true, {
      "ignoreShorthands": ["/flex/"]
    }]
  }
}
