.p-button.p-component {
  padding: .35rem .75rem;
  font-size: .9rem;
}

.p-button.p-button-sm.p-component {
  padding: .25rem .65rem;
  font-size: .8rem;
}

.p-button.p-button-lg.p-component {
  padding: .5rem 1rem;
  font-size: 1rem;
}
