{
  "presets": [
    "@babel/preset-env",
    [
      "@babel/preset-react",
      {
        "runtime": "automatic"
      }
    ]
  ],
  "plugins": [
    "import-glob",
    [
      "prismjs",
      {
        "languages": [
          "javascript",
          "jsx",
          "css",
          "html",
          "bash"
        ],
        "plugins": [
          "line-numbers",
          "show-language",
          "copy-to-clipboard"
        ],
        "theme": "okaidia",
        "css": true
      }
    ]
  ]
}
