.p-multiselect {
  width: 100%;
}

.p-multiselect-footer {
  .p-button {
    justify-content: center;
    width: 100%;
    padding: .5em;
    font-size: .8em;
    border-radius: 0;
  }
}

.p-multiselect-header {
  .p-multiselect-filter-container {
    width: 100%;
  }
}
