.p-accordion .p-accordion-content {
  border: 0;
  padding: 0;
}

.p-datepicker .p-datepicker-buttonbar {
  padding: 0.5em;
  width: 100%;
}

.p-datepicker > .p-accordion,
.p-accordion-header,
.p-accordion-header-link {
  border: 0 !important;
}

.p-datepicker {
  display: flex;
  flex-flow: row wrap;
}

.p-datepicker-footer {
  margin: 0 10px 0 0;
  order: -1;
}
