.s-form {
  @extend .grid;
  @extend .grid-nogutter;
  @extend .m-0;
  @extend .p-1;

  & .p-dropdown,
  & .p-multiselect,
  & .p-inputtext {
    width: 100%;

    &.p-focus {
      &:not(.p-disabled) {
        border: 1px solid #ced4da;
        box-shadow: none;
      }
    }
  }
}

.s-field {
  @extend .flex;
  @extend .p-1;
  @extend .gap-1;
}

.s-field-fixed {
  @extend .p-1;
  @extend .w-13rem;

  & > * {
    flex-grow: 1;
  }
}

.s-field-action {
  @extend .justify-content-center;
  @extend .w-6rem;
  @extend .ml-1;
}
