.p-datepicker {
  min-width: 220px !important;

  & &-header {
    padding: .25rem 0;
    font-size: .9rem;
  }

  & &-header &-prev,
  & &-header &-next {
    width: 1.75rem;
    height: 1.75rem;
  }

  &-month,
  &-year {
    font-size: .9rem;
  }

  table {
    margin: 0;
    font-size: .7rem;

    td {
      padding: 0;
      > span {
        width: 1.55rem;
        height: 1.55rem;
      }
    }
  }

  &_buttons-bar {
    .p-datepicker-group-container {
      width: 320px;
    }

    .p-datepicker-group {
      width: 220px;
    }

    .p-datepicker-footer {
      position: relative;

      .p-datepicker-range-buttons {
        position: absolute;
        right: -5px;
        bottom: 0;
        width: 100px;
        padding: 10px;
        font-size: .7rem;
        background: #fff;
      }

      .p-button {
        padding: .35em .3em;
        margin-bottom: .3rem !important;
        font-size: .7rem;
        line-height: 1;
      }
    }
  }
}

.p-calendar {
  width: 100%;

  .p-button.p-button-icon-only {
    width: 2.2rem;
    padding: 0;

    &,
    &:hover,
    &:active {
      color: #495057;
      background: #e9ecef;
      border: 1px solid #ced4da;
      border-left: 0;
    }
  }
}
