.p-datepicker {
  min-width: 220px !important;

  & &-header {
    padding: .25rem 0;
    font-size: .9rem;
  }

  & &-header &-prev,
  & &-header &-next {
    width: 1.75rem;
    height: 1.75rem;
  }

  &-month,
  &-year {
    padding: .35rem !important;
    font-size: .9rem;
  }

  table {
    margin: 0;
    font-size: .7rem;

    td {
      padding: 0;
      > span {
        width: 1.55rem;
        height: 1.55rem;
      }
    }
  }

  &-other-month {
    opacity: .6;
  }

  &-title {
    display: flex;
  }

  &-multiple-month {
    .p-datepicker-group {
      border: none !important;
    }

    .p-datepicker-group:first-child {
      border-right: 1px solid #dee2e6 !important;
    }

    .p-datepicker-group-container {
      padding-left: .5rem;
    }

    .p-datepicker-group:first-child {
      .p-datepicker-header-custom {
        display: none;
      }
    }

    .p-datepicker-group:nth-child(2) {
      .p-datepicker-prev,
      .p-datepicker-title,
      .p-datepicker-month,
      .p-datepicker-year {
        display: none;
      }

      .p-datepicker-header-custom {
        margin: 0 auto;
        line-height: 2rem;
      }

      .p-datepicker-month-name {
        margin-right: .5rem;
      }
    }
  }

  &_buttons-bar {
    display: flex;
    flex-direction: row-reverse;

    .p-datepicker-footer {
      padding-right: .5rem;
      border-right: 1px solid #dee2e6;

      .p-datepicker-range-buttons {
        width: 90px;
        font-size: .7rem;
        background: #fff;
      }

      .p-button {
        padding: .3rem .25rem;
        margin-bottom: .3rem !important;
        font-size: .7rem;
        line-height: 1;
      }
    }
  }
}

.p-calendar {
  width: 100%;

  .p-button.p-button-icon-only {
    width: 2.2rem;
    padding: 0;

    &,
    &:hover,
    &:active {
      color: #495057;
      background: #e9ecef;
      border: 1px solid #ced4da;
      border-left: 0;
    }
  }
}
