@import "@cadolabs/sphere-ui/dist/index.css";

* {
  box-sizing: border-box;
}

html,
body {
  font-family: var(--font-family);
  font-size: 1rem;
  font-weight: 300;
  color: var(--text-color);
  background: var(--surface-cart);
}

.content-layouts {
  background: url("https://www.primefaces.org/primeflex/assets/images/tiny-checkers.png");
  background-color: #f2f5f8;
}

.code {
  font-size: 1rem;
  background: var(--text-color);
}

.title {
  padding: 5px;
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: 500;
  color: #262627;
  border: 2px solid var(--surface-400);
  border-width: 0 0 1px;
}

.block-content {
  display: flex;
  flex-direction: column;
  padding: 10px 5px;
  margin-top: 10px;
}

.header {
  font-size: 25px;
  border-bottom: 1px solid var(--green-500);
}

.live-content {
  font-size: 1rem;
}

p {
  margin-top: .5rem;
  margin-bottom: .5rem;
  text-align: justify;
}

a {
  color: var(--blue-700);
  text-decoration: none;
  cursor: pointer;
  border-bottom: .5px solid var(--surface-500);
}

pre[class*="language-"] {
  background: #282c34 !important;
}

.button-demo {
  .p-button {
    margin-right: .5rem;
  }

  .p-buttonset {
    .p-button {
      margin-right: 0;
    }
  }
}

.inline-code {
  display: inline;
  padding: 0 3px;
  font-family: courier, monospace;
  background-color: #eee;
  border-radius: 3px;
}

.toolbar-item,
.copy-to-clipboard-button {
  color: #bbb !important;
}

/* DataTableDemo (style story) */

.datatable-style-demo .outofstock {
  font-weight: 700;
  color: #ff5252;
  text-decoration: line-through;
}

.datatable-style-demo .lowstock {
  font-weight: 700;
  color: #ffa726;
}

.datatable-style-demo .instock {
  font-weight: 700;
  color: #66bb6a;
}

.datatable-style-demo .row-accessories {
  background-color: rgba(0, 0, 0, .15) !important;
}

/* TreeTableDemo (responsive story) */

.treetable-responsive-demo .sm-visible {
  display: none;
}

@media screen and (max-width: 40em) {
  .treetable-responsive-demo .sm-invisible {
    display: none;
  }

  .treetable-responsive-demo .sm-visible {
    display: inline;
    margin-right: .5rem;
  }
}
