@import "@cadolabs/sphere-ui/dist/index.css";

* {
  box-sizing: border-box;
}

html,
body {
  font-family: var(--font-family);
  background: var(--surface-cart);
}

code {
  display: flex;
  padding: 15px;
  color: var(--green-900);
  white-space: pre-line;
  background: var(--green-100);
  border-radius: 10px;
}

.title {
  padding: 5px;
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: 500;
  color: #262627;
  border: 2px solid var(--surface-400);
  border-width: 0 0 1px;
}

.block-content {
  display: flex;
  flex-direction: column;
  padding: 10px 5px;
  margin-top: 10px;
}

.live-content {
  border-left: 10px solid var(--green-500);
}

.header {
  font-size: 25px;
  border-bottom: 2px solid var(--green-500);
}
