@import "~primereact/resources/themes/saga-green/theme.css";
@import "~primereact/resources/primereact.min.css";
@import "~primeicons/primeicons.css";
@import "~primeflex/primeflex.scss";

@import "./styles/_layouts.scss";

@import "./components/Avatar/style.scss";
@import "./components/Badge/style.scss";
@import "./components/BreadCrumb/style.scss";
@import "./components/Chips/style.scss";
@import "./components/MultiSelect/style.scss";
@import "./components/Pagination/style.scss";
@import "./components/PanelMenu/style.scss";
@import "./components/TabView/style.scss";
@import "./components/TieredMenu/style.scss";

html, body {
  font-family: var(--font-family);
}

.gap-1 { gap: $spacer * .25 !important; }

.gap-2 { gap: $spacer * .5 !important; }

.gap-3 { gap: $spacer * 1 !important; }

.gap-4 { gap: $spacer * 1.5 !important; }

.gap-5 { gap: $spacer * 2 !important; }

.gap-6 { gap: $spacer * 3 !important; }

/* datepicker */

.p-datepicker {
  .p-datepicker-footer {
    margin-top: .5rem;

    .p-button {
      padding: .35em .3em;
      margin-bottom: .3rem !important;
      font-size: .7rem;
    }
  }
  &-header {
    padding: 0;
    font-size: .9rem;
  }
  table {
    margin: 0;
    font-size: .7rem;
    td {
      padding: 0;
      > span {
        width: 1.55rem;
        height: 1.55rem;
      }
    }
  }
}
